<div class="auth-wrapper">
    <form class="form-signin" [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
        <h3 class="h3 mb-4 font-weight-normal text-center">Change your password</h3>
        <span class="text-danger" *ngIf="httperrors"> {{ httperrors }} </span>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" formControlName="password" placeholder="Password" />
            <span class="text-danger" *ngIf="
          (changePasswordFormControls.password.touched || submitted) &&
          changePasswordFormControls.password.errors?.required
        ">
        Password is required
      </span>
            <span class="text-danger" *ngIf="
          changePasswordFormControls.password.touched &&
          changePasswordFormControls.password.errors?.minlength
        ">
        Password should have minimum 4 characters
      </span>
        </div>
        <button type="submit" [disabled]="!changePasswordForm.valid" class="btn btn-block btn-primary">
      Change Password
    </button>
    </form>
</div>